.button {
    padding:10px 15px;
    background-color: #188CFB;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.icon {
    margin-right: 5px;
}


.ordinaryButton {
    width: 70%;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}



.button-primary:disabled, .button-secondary:disabled, .button-secondary-error:disabled, .button-primary-error:disabled {
    background-color: #cccccc;
    color: #666666;
}

.button-primary {
    background-color: #188CFB;
    color: white;
}

.button-secondary {
   background-color: white;
    color: #313131
}

.button-primary-error {
    background-color: red;
    color: white;
}

.button-secondary-error {
    background-color: white;
    color: red
}

