.input {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 1.6em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}


.input-s {
    width: 25%;
}

.input-m {
    width: 70%;
}
