@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
  font-family: 'Proxima Nova', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

input {
  -webkit-appearance: none;
}


